@import url("https://fonts.google.com/specimen/Roboto");

:root {
    --primary-color: #fb8500;
    --secondary-color: #023047;
    --accent1-color: #ffb703;
    --accent2-color: #8ecae6;

    --heading-font: 'Roboto', serif;
    --paragraph-font: 'Roboto', serif;

    --nav-background-color: #XXXXX;
    --nav-link-color: #XXXXX;
    --nav-hovor-background-color: #XXXXX;
    --nav-hovor-background-color: #XXXXX;
}
h1, h2, h3 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
p {
    padding: 25px;
    font-family: var(--heading-font);
    color: var(--accent2-color);
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}