@import url("https://fonts.google.com/specimen/Roboto");

:root {
    --primary-color: #fb8500;
    --secondary-color: #023047;
    --accent1-color: #ffb703;
    --accent2-color: #8ecae6;

    --heading-font: 'Roboto', serif;
    --paragraph-font: 'Roboto', serif;

    --nav-background-color: #XXXXX;
    --nav-link-color: #XXXXX;
    --nav-hovor-background-color: #XXXXX;
    --nav-hovor-background-color: #XXXXX;
}
h1, h2, h3 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
.hero {
    position: relative;
}
p {
    font-family: var(--heading-font);
    color: var(--accent2-color);
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
    float: right;
}
.hero article img{
    width: 100px;
}
figcaption{
    text-align: center;

}
.figure_flex{
    display: flex; 
}
figure img{
    width: 280px;
}
figure{
    margin: 10px;
    padding: 0px;
}
nav {
	display: flex;
	list-style: none;
}

nav li {
	flex: 1 1 100%;
}

nav a {
	display: block;
	color: navy;
	padding: 20px;
	text-decoration: none;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

nav a:hover {
	color: tomato;
	font-weight: 700;
	text-decoration: underline;
}
h1{
    position:absolute;
    color:#8ecae6;
    padding: 10px;
    font-size: 300%;
    border: 1px solid white;
    padding: 5px;
}

article{
    position: absolute;
    top: 100px;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f4f4f4; /* Adjust as needed */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative; /* Ensure relative positioning */
}

.container h1, .contact-heading {
    font-size: 2em; /* Adjust size as needed */
    margin: 20px 0; /* Adjust margin as needed */
    text-align: center; /* Center the heading */
    position: relative; /* Ensure proper positioning */
}

.container label {
    display: block;
    margin-bottom: 10px;
    font-size: 1em; /* Adjust size as needed */
}

.container input[type="text"],
.container input[type="email"],
.container textarea {
    width: calc(100% - 22px); /* Adjust for input border */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    box-sizing: border-box; /* Include padding and border in width calculation */
}

.container button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.container button:hover {
    background-color: #0056b3;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Space between elements */
    width: 100%; /* Full width */
}

  